@import url("https://fonts.cdnfonts.com/css/gotham-rounded");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
  &::-webkit-scrollbar {
    border-radius: 25px;
    background-color: var(--scroll-bar-bg);
    width: .5rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: var(--primary-color);
  }
}

:root {
  --primary-bg: #223157;
  --primary-color: #7B9DF3;
  --primary-color-darker: #607fcd;
  --white: #ffffff;

  --text-dark: #34435f;
  --text-light: #34435fb5;

  --list-item-bg-hover: #f2f2f2;

  --scroll-bar-bg: #f2f2f2;
}

body {
  background-image: url(../assets/bg.png);
  background-color: var(--primary-bg);
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 600px;
  fieldset {
    border: none;
  }
  fieldset.choose-user {
    border: none;
    label {
      color: var(--primary-color);
      font-size: 2rem;
    }
    ul.selected-users {
      display: flex;
      flex-wrap: wrap;
      margin: 1rem auto;
      gap: .5rem;
      li {
        background-color: var(--primary-color);
        color: var(--white);
        padding: .8rem 1rem;
        border-radius: 25px;
        list-style: none;
        display: flex;
        align-items: center;
        transition: .3s ease;
        &:hover {
          background-color: var(--primary-color-darker);
        }
        img {
          margin-left: 1rem;
          width: .75rem;
          cursor: pointer;
        }
      }
    }
    .input-container {
      position: relative;
      input[type="text"] {
        width: 100%;
        min-width: 350px;
        border: none;
        padding: 1rem;
        padding-left: 4rem;
        border-radius: .75rem;
        font-size: 1.5rem;
        color: var(--text-dark);
        outline: none;
      }
      img.send-icon {
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translate(-50%, -50%);
        width: 2.15rem;
      }
      .dropdown-menu {
        position: absolute;
        top: 85%;
        left: 0;
        background-color: var(--white);
        width: 100%;
        padding:  .75rem .5rem;
        border-radius: .75rem;
        opacity: 0; 
        pointer-events: none;
        box-shadow: 0 12px 12px rgba(black, 0.25);
        transition: top .1s linear, opacity .3s ease;
        &.show {
          top: 105%;
          opacity: 1;
          pointer-events: all;
        }
        ul {
          height: auto;
          max-height: 100px;
          overflow: auto;
          li {
            border-radius: .75rem;
            padding: .5rem 0 .5rem .5rem;
            margin-right: .5rem;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color .3s ease;
            &:hover {
              background-color: var(--list-item-bg-hover);
              span {
                color: var(--text-dark)!important;
              }
            }
            img {
              border-radius: 50%;
              width: 2.2rem;
              background-color: var(--primary-color);
              padding: .25rem;
              margin-right: 1rem;
            }
            .user-info {
              display: flex;
              flex-direction: column;
              span {
                font-size: 1.2rem;
                color: var(--text-light);
                &:last-of-type {
                  font-weight: 300;
                  font-size: .8rem;
                }
              }
              small {
                font-size: 1rem;
                color: var(--text-light);
              }
            }
          }
        }
      }
    }
  }
  fieldset.message-user {
    opacity: 0;
    pointer-events: none;

    display: flex;
    flex-direction: column;

    margin-top: -.5rem;

    transition: margin .5s .1s ease, opacity .3s .1s ease;
    textarea {
      width: 100%;
      border-radius: .75rem;
      padding: 1rem;
      color: var(--text-dark);
      border: none;
      outline: none;
      min-height: 150px;
      transition: opacity .3s ease;
    }
    button {
      width: 100%;
      max-width: 125px;
      margin-left: auto;
      margin-top: .5rem;
      padding: 1rem;
      border: none;
      border-radius: .75rem;
      background-color: var(--primary-color);
      color: var(--white);
      cursor: pointer;
      transition: opacity .3s ease, background-color .3s ease;
      &:hover {
        background-color: var(--primary-color-darker)
      }
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    &.show {
      pointer-events: all;
      opacity: 1;
      margin-top: .5rem;
    }
  }
}