@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

* li {
  list-style: none;
}

:root {
  --primary: #F0B37B;
  --bg: #252935;
  --text: #354650;
  --gray-dark: #D9D9D9;
  --gray-light: #F4F4F4;
  --white: #FFFFFF;
  --box-shadow: 0px 0px 12px 7px rgba(240, 179, 123, 0.3);
}

